---
layout: master
full_posts: 3
---


{% for post in site.posts %}
  {% if forloop.index < page.full_posts %}
  <div class='post'>
    <span class='date'>{{post.date | date_to_string}}</span>
    <h1><a href='{{post.url}}' class="post-title">{{post.title}}</a></h1>
    <div class='body'>{{post.content}}</div>    
  </div>
  {% else %}
    {% if forloop.index == page.full_posts %}
    <h3>Older Posts</h3>
    <table class='post-list'>
    {% endif %}
    <tr>
      <td><a href='{{ post.url }}'>{{ post.title }}</a></td>      
    </tr>
  {% endif %}
{% endfor %}
</table>
